<div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Logo Here</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">Already a customer?</li>
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      </ul>
    </header>
</div>